extends layout

block content
    div.container
        h1=title
        div.row
            div.col-md-12
                p Link
                ul
                    li
                        a(href="/") /
                    li
                        a(href="/users") /users
                    li
                        a(href="/users/login") /users/login
                    li
                        a(href="/users/logout") /users/logout
                    li
                        a(href="/users/profile") /users/profile
                    li
                        a(href="/users/login/process") /users/login/process

