extends layout

block content
    div.container
        h1(class="pull-left")=title
        a(class="pull-right btn btn-danger btn-lg", role="button", href="/logout", style="margin-top: 20px;") LOGOUT
        div.row
            div.col-md-12
                p text
